{% extends "templates/auth_base.html" %}

{% block title %}
HackIllinois &middot; Authenticate
{% endblock %}

{% block section_title %}Create an account to begin your application. Log in to make changes to your application at any time.{% endblock %}

{% block inputs %}
<div id="auth-email" class="row bordered">
  <input name="email" type="text" id="email" placeholder="Email" data-parsley-required data-parsley-type="email" data-parsley-errors-container="#email-error">
  <div class="validate-representation"></div>
</div>
<div id="auth-password" class="row bordered">
  <input name="passwordRaw" type="password" id="password" placeholder="Password" data-parsley-required data-parsley-minlength="8" data-parsley-errors-container="#password-error">
  <div class="validate-representation"></div>
</div>
{% endblock %}

{% block buttons %}
<button id="auth-login" action="" method="POST">Log In</button>
{# Removed on application closing
<button id="auth-signup" action="" method="POST">Sign Up</button>
#}
{% endblock %}

{% block form_extras %}
<div>
  <span class="link" id="forgot-password">Forgot your password?</span>
</div>
<div id="messageContainer">
</div>
{% endblock %}

{% block containers %}
<span id="confirm-password-container" class="hidden">
  <div id="auth-confirm-password" class="row bordered">
    <input type="password" id="confirm-password" placeholder="Confirm Password" disabled data-parsley-required data-parsley-equalto="#password" data-parsley-errors-container="#confirm-password-error">
    <div class="validate-representation"></div>
  </div>
</span>
<span id="forgot-password-container" class="hidden">
    <button disabled id="auth-forgot" action="" method="POST">Reset Password</button>
</span>
{% endblock %}
