$text-black: #222222;
$background-purple: #262431;
$light-purple: #696984;
$lavender: #cdcde1;
$orange: #f2b48c;
$green: #3cb371;
$turquoise: #8cbfbd;
$light-orange: lighten($orange, 20%);
$white: #ffffff;
$white-shade: darken($white, 5%);
$muted-white: darken($white, 20%);
$dust: darken($muted-white, 20%);
$dashed-gray: #9293ac;
$red: #ff8383;
$blue: #709dcc;
$light-red: lighten($red, 20%);
$transparent: rgba(0, 0, 0, 0.0);
$red-orange: #E36960;
$burnt-orange: #E08270;
