h3 {
    color: #D76E5D;
}

#transit{
    padding: 75px;
}

#hwsw h3{
      border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    border-color: #E5E5E5;
}

#hwsw h4 {
    color: #DAA073;
}

#open{
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: #E5E5E5;
}

#elimination{
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;

    border-color: #E5E5E5;
}

#final{
      border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;

    border-color: #E5E5E5;
}

.left{
    padding: 5px;
    text-align: center;
     border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;

    border-right-width: 1px;

    border-color: #E5E5E5;

}
.right{
    padding: 5px;
    text-align: center;
     border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;

    border-left-width: 1px;

    border-color: #E5E5E5;

}
.center{
     border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    padding: 5px;
   text-align: center;
    border-color: #E5E5E5;

}

.bot {
     border-bottom-width: 0px;
}
.time {
    width: 100px;
}

#os{

}

#os h3{

}

#sponsor{

}
